# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Denote all files that are truly binary and should not be modified.
*.bmp binary
*.png binary
*.ico binary
*.chm binary
*.cub binary
*.dll binary
*.eot binary
*.exe binary
*.msi binary
*.snk binary
*.sqlite binary
*.wixlib binary
*.woff binary