<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet myget" value="https://dotnet.myget.org/f/dotnet-core/api/v3/index.json" />
    <add key="roslyn myget" value="https://dotnet.myget.org/f/roslyn/api/v3/index.json" />
  </packageSources>
</configuration>