<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define InstallLocationName = "NodejsProfiling" ?>

  <Module Id="NodejsProfiling" Language="1033" Version="1.0.0.0">
    <Package Id="983F1847-97A1-4E6C-A7AF-C21762B00A75" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

    <?include ..\InstallPath.wxi ?>
    <?include ..\MergeModule.wxi ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="EXTENSION_INSTALLPATH">
          <Directory Id="_0D6D364235164B24AC58E38A08968129" Name="Extensions">
            <Directory Id="_8C5B593518EE4149B9ADAF76B704E2A6" Name="Microsoft">
              <Directory Id="_3453B56831F34B48935E1DD6A1B44AC1" Name="Node.js Tools - Profiling">
                <Directory Id="INSTALLLOCATION" Name="1.0">
                </Directory>
              </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="NodejsProfilingExt"/>
  </Module>
</Wix>
