<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ProfilingVars.wxi ?>
    <Fragment>
        <ComponentGroup Id="NodejsProfilingExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{1FA57071-B39A-4320-9678-ABE1AB4D04DD}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='B515653F-FB69-4B64-9D3F-F1FCF8421DD0,1.0' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\Node.js Tools - Profiling\1.0\'/>
                </RegistryKey>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                    <RegistryValue Type='string' Name='B515653F-FB69-4B64-9D3F-F1FCF8421DD0,1.0' Value='Microsoft.VisualStudio.VsPackage'/>
                </RegistryKey>
            </Component>

            <!-- Both per user and all user components -->
            <Component Directory="INSTALLLOCATION" Guid="{6C4A6A5D-0FFC-4F35-84DD-EF909A0FA21A}">
                <File Id="filMicrosoft.NodejsTools.Profiling.dll" KeyPath="yes" Source="$(var.BinariesDir)\Microsoft.NodejsTools.Profiling.dll" />
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{95CA82F5-6CD8-496F-A599-71C676FFBBAC}">
                <File Id="filMicrosoft.NodejsTools.Profiling.pkgdef" KeyPath="yes" Source="$(var.BinariesDir)\Microsoft.NodejsTools.Profiling.pkgdef" />
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{B4B631DD-833E-44C1-872E-D8BCB8EE2706}">
                <File Id="filextension.vsixmanifest" KeyPath="yes" Source="$(var.BinariesDir)\extension.vsixmanifest" />
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{4F2CA623-F9B8-4C8A-A9E3-4D1C3E33E850}">
                <File Id="filMicrosoft.NodejsTools.NodeLogConverter.exe" KeyPath="yes" Source="$(var.BinariesDir)\Microsoft.NodejsTools.NodeLogConverter.exe" />
            </Component>
            
            <Component Directory="INSTALLLOCATION" Guid="{351C08C3-1B35-48AB-A9D0-BC923F70CBC9}">
                <File Id="filNodejsProject.ico" KeyPath="yes" Source="$(var.BinariesDir)\NodejsProject.ico" />
            </Component>

            <Component Id="Comp_NjsPerfRegistration" DiskId="1" Guid="$(var.Comp_NjsPerfRegistrationGuid)" Directory="INSTALLLOCATION">
              <RegistryValue Root='HKCR' Key='.njsperf' Type='string' Name='PerceivedType' Value='text' />
              <RegistryValue Root='HKCR' Key='VisualStudio.Launcher.njsperf.$(var.VSTargetVersion)\DefaultIcon' Type='string' Value='[INSTALLLOCATION]\NodejsProject.ico' />

              <ProgId Id="VisualStudio.Launcher.njsperf.$(var.VSTargetVersion)" Description="Node.js Performance File">
                <Extension Id="njsperf" ContentType="text/plain">
                  <Verb Id="Open" Command="Open" TargetProperty="VSLAUNCHER" Argument="&quot;%1&quot;"/>
                </Extension>
              </ProgId>
            </Component>        

        </ComponentGroup>
    </Fragment>
</Wix>