<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define InstallLocationName = "NodejsProfiling" ?>

    <Module Id="Profiling" Language="1033" Version="1.0.0.0">
        <Package Id="983F1847-97A1-4E6C-A7AF-C21762B00A75" Manufacturer="Microsoft Corporation" InstallerVersion="500" />

        <?include ..\MergeModule.wxi ?>

        <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{1FA57071-B39A-4320-9678-ABE1AB4D04DD}">
            <Condition>NOT ALLUSERS = 1</Condition>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                <RegistryValue Type='string' Name='B515653F-FB69-4B64-9D3F-F1FCF8421DD0,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
            </RegistryKey>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                <RegistryValue Type='string' Name='B515653F-FB69-4B64-9D3F-F1FCF8421DD0,$(var.ReleaseVersion)' Value='Microsoft.VisualStudio.VsPackage'/>
            </RegistryKey>
        </Component>

        <ComponentGroupRef Id="CGroup_ProfilingFiles"/>
    </Module>
</Wix>
