<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.144" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
</packages>