<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.8.24" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Workspaces" version="15.0.215-pre" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
</packages>