<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="14.0.262-masterA5CACE98" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Telemetry" version="15.3.795-master67D3E818" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="14.0.73-master6E8F6515" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
</packages>