<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>describe</Title>
      <Description>Code Snippet for a Describe statement using Mochajs</Description>
      <Shortcut>des</Shortcut>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>myFunction</ID>
          <Default>myFunction</Default>
        </Literal>
      </Declarations>
      <Code Language="Nodejs">
        <![CDATA[describe('$myFunction$', function () {
    $selected$$end$
});
]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>

