<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="InteractiveWindow" Language="1033" Version="1.0.0.0">
        <Package Id="BF6BC19A-9714-42D9-B0B2-33823C19EA55" Manufacturer="Microsoft Corporation" InstallerVersion="200" />

        <?include ..\MergeModule.wxi ?>

        <Component Id="PerUserInstallRegistry" Directory="Dir_VSInstallLocation" Guid="{776BC916-5DD2-4B6D-9036-DCE4755C0F99}">
            <Condition>NOT ALLUSERS = 1</Condition>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                <RegistryValue Type='string' Name='29102E6C-34F2-4FF1-BA2F-C02ADE3846E8,$(var.ReleaseVersion)' Value='[Dir_VSInstallLocation]'/>
            </RegistryKey>
            <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                <RegistryValue Type='string' Name='29102E6C-34F2-4FF1-BA2F-C02ADE3846E8,$(var.ReleaseVersion)' Value='Tool'/>
            </RegistryKey>
        </Component>

        <ComponentGroupRef Id="CGroup_InteractiveWindowFiles"/>
    </Module>
</Wix>
