<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="InteractiveWindowExt">
            <!-- Per user components -->
            <Component Id="PerUserInstallRegistry" Directory="INSTALLLOCATION" Guid="{D02050BD-AC66-4EFF-AF1C-E5C08A906CF1}">
                <Condition>NOT ALLUSERS = 1</Condition>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\EnabledExtensions'>
                    <RegistryValue Type='string' Name='29102E6C-34F2-4FF1-BA2F-C02ADE3846E8,1.0' Value='[EXTENSION_INSTALLPATH]Extensions\Microsoft\Node.js Tools - Interactive Window\1.0\'/>
                </RegistryKey>
                <RegistryKey Root='HKCU' Key='Software\Microsoft\VisualStudio\$(var.VSTargetVersion)\ExtensionManager\ExtensionTypes'>
                    <RegistryValue Type='string' Name='29102E6C-34F2-4FF1-BA2F-C02ADE3846E8,1.0' Value='Tool'/>
                </RegistryKey>
            </Component>

            <!-- Both per user and all user components -->
            <Component Directory="INSTALLLOCATION" Guid="{0DA89CC4-D0E2-4561-AEA6-15BBEBA8B44A}">
                <File Id="filMicrosoft.NodejsTools.InteractiveWindow.dll" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.NodejsTools.InteractiveWindow.dll" />
            </Component>
            <Component Directory="VWDINSTALLLOCATION" Guid="{43393850-B981-455D-BCFE-A0996C54E998}">
                <File Id="filVWDMicrosoft.NodejsTools.InteractiveWindow.dll" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.NodejsTools.InteractiveWindow.dll" />
              <Condition>VWD_EXTENSION_INSTALLPATH</Condition>
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{3016A34E-AE77-45EE-AEA2-89AB57C6EC68}">
                <File Id="filMicrosoft.NodejsTools.InteractiveWindow.pkgdef" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.NodejsTools.InteractiveWindow.pkgdef" />
            </Component>
            <Component Directory="VWDINSTALLLOCATION" Guid="{9B044563-033B-4224-93DF-830F00C86015}">
                <File Id="filVWDMicrosoft.NodejsTools.InteractiveWindow.pkgdef" KeyPath="yes" Source="$(var.TargetDir)\Microsoft.NodejsTools.InteractiveWindow.pkgdef" />
              <Condition>VWD_EXTENSION_INSTALLPATH</Condition>
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{492B6451-85F7-49A6-BBC7-2BAEDFE935E3}">
              <File Id="filNodejsProject.ico" KeyPath="yes" Source="$(var.BinariesDir)\NodejsProject.ico" />
            </Component>
            <Component Directory="VWDINSTALLLOCATION" Guid="{BCA22872-9A98-426F-A718-0CB2A3DED2A3}">
              <File Id="filVWDNodejsProject.ico" KeyPath="yes" Source="$(var.BinariesDir)\NodejsProject.ico" />
              <Condition>VWD_EXTENSION_INSTALLPATH</Condition>
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{212EC19F-773E-4047-B6A8-0A607C77B802}">
              <File Id="filNodejsProjectBig.ico" KeyPath="yes" Source="$(var.BinariesDir)\NodejsProjectBig.ico" />
            </Component>
            <Component Directory="VWDINSTALLLOCATION" Guid="{7D6E5BC0-8762-42EF-A18C-7ECFA6E22DC6}">
              <File Id="filVWDNodejsProjectBig.ico" KeyPath="yes" Source="$(var.BinariesDir)\NodejsProjectBig.ico" />
              <Condition>VWD_EXTENSION_INSTALLPATH</Condition>
            </Component>

            <Component Directory="INSTALLLOCATION" Guid="{53D5DF7D-B1B6-40A3-A6EA-9DE79DFB0285}">
                <File Id="filextension.vsixmanifest" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
            </Component>
            <Component Directory="VWDINSTALLLOCATION" Guid="{584B7500-4D4C-4573-8C81-7A1271996458}">
                <File Id="filVWDextension.vsixmanifest" KeyPath="yes" Source="$(var.ObjDir)\extension.vsixmanifest" />
              <Condition>VWD_EXTENSION_INSTALLPATH</Condition>
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBEC0D5FD22264A40A922EEF556B688CD" />
    </Fragment>
</Wix>